* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    color: #303030;
}

header {
    background: #2965f1;
    padding: 23px 0;
}

header span {
    font-weight: 700;
    font-size: 20px;
    color: #fff;
}

.main-section {
    background: #fafaff;
    width: 1440px;
    height: 1024px;
    /* Стили для первой секции */
}

.main-title {
    font-weight: 700;
    font-size: 48px;
    padding: 60px 0 20px 0;
    /* Стили для заголовка в первой секции */
}

.main-text {
    font-weight: 400;
    font-size: 18px;
    /* Стили для текста в первой секции */
}

.main-image {
    width: 715px;
    height: 508px;
    /* Стили для изображения в первой секции */
}


.about-section {
    /* Стили для второй секции */
}

select {
    /* Стили для выпадающего списка */
}

.section-title {
    /* Стили для заголовков во второй секции */
}

.frameworks-list {
    /* Стили для маркированного списка во второй секции */
}

.books-list {
    /* Стили для нумерованного списка во второй секции */
}

.label {
    /* Стили для подписей чекбоксов */
}

.text-field {
    /* Стили для односточного поля ввода текста */
}

.btn {
    /* Стили для кнопки */
}

.line {
    /* Стили для линии */
}

table {
    /* Стили для таблицы */
}

th, td {
    /* Стили для ячеек таблицы */
}

footer {
    /* Стили для футера */
}

.footer-link {
    /* Стили для футера */
}